<ion-header>
  <ion-navbar hideBackButton="true">

    <ion-buttons>
      <button (click)="goBack()">
        <ion-icon name="ios-arrow-back"></ion-icon>
        返回
      </button>
    </ion-buttons>

    <ion-title>
      影人详情
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding class="movie">
  <div align="center" *ngIf="fetching">
    <ion-spinner name="ios"></ion-spinner><br>
    正在获取数据
  </div>

  <div *ngIf="!fetching">
    姓名:<span class="info">{{actor.name}}</span><br>
    别名:<span class="info">{{actor.aka.join('/')}}</span><br>
    英文名:<span class="info">{{actor.name_en}}</span><br>
    性别:<span class="info">{{actor.gender}}</span><br>
    出生地:<span class="info">{{actor.born_place}}</span><br>
    <img class="actorLargeImg" src="{{actor.avatars.large}}">

    <div class="work">
      <p>作品集</p>
      <div *ngFor="let p of actor.works" (click)="goMovieDetail(p.subject)">
        <img *ngIf="p.subject.images" src="{{p.subject.images.medium}}" class="actorMediumImg">
        {{p.subject.title}}&nbsp;({{p.roles.join('/')}})
      </div>
    </div>
  </div>


</ion-content>
