.movie {
  .info{
    font-style: italic;
  }

  .flex{
    display: inline-flex;
    flex-direction: column
  }
  .hasborder{
    border:solid;border-width: 1px;border-color: lightgray;
  }
  .actorMediumImg{
    height: 120px;
    width: 90px;
  }

  .actorLargeImg{
    height: 330px;
    width: 240px;
  }
}


